html {
    overflow-x: hidden;
    background-color: rgb(253, 253, 253);
}

body {
    position: relative;
    margin: 0;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}

#header {
    position: absolute;
    z-index: 3;
    width: 100%; 
    height: 56px;
    background-color: rgb(253, 253, 253);
    padding: 10px;
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    margin-top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-pages {
    margin-left: 20px;
}

#header a {
    color: black;
    font-weight: 200;
    font-size: 1.25rem;
    letter-spacing: 0.175rem;
    margin: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

#header a.bold {
    font-weight: 400;
}

#main-container {
    position: relative;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#founder-container {
    text-align: center;
    position: relative;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#founder-title {
    font-size: 4rem;
    font-weight: 400;
    margin: 0px 30px;
}

#founder-subtitle {
    font-size: 2rem;
    font-weight: 250;
    margin: 10px 10px;
    margin-bottom: 30px;
}

#founder-image {
    width: 50vh;
    max-width: 65vw;
    border-radius: 16px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
    #founder-profile {
        margin-left: 16vh;
        margin-right: 16vh;
        margin-top: 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}

@media (max-width: 1200px) {
    #founder-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    
}

#founder-description {
    font-size: 1.5rem;
    font-weight: 200;
    padding: 0px 20px;
    margin: 2vh 6vh;
}

#founder-description a {
    color: black;
}

#instructors-container {
    text-align: center;
    position: relative;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructors-title {
    font-size: 4rem;
    font-weight: 400;
    margin: 15px 30px;
}

@media (min-width: 1200px) {
    #instructor-bios {
        margin: 10px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    #instructor-bios {

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.instructor-bio {
    padding: 0 2.5vh;
display: block;
    display: block;
    flex-direction: column;
    align-items: center;
}

.instructor-name {
    font-size: 1.5rem;
    font-weight: 250;
}

.instructor-image {
    width: 20vh;
    border-radius: 100000px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.instructor-bio {
    font-size: 1.25rem;
    font-weight: 200;
}

p a {
    color: black;
    padding: 0;
    margin: 0;
}