body {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0px 20px;
}

input {
    margin: 40 0px;
}

button {
    margin-top: 5px;
    margin-left: 20px;
}

hr {
    outline: 0px black solid;
    width: 100%;
    margin: 20px 0;
}

span {
    color: blue;
}

#second-paragraph {
    margin: 50px;
}   